/BrainStorms/File_handler.java/nbproject/private/
/BrainStorms/File_handler.java/build/
/BrainStorms/JavaApplication3/nbproject/private/
/BrainStorms/JavaApplication3/build/
/BrainStorms/JavaApplication3/dist/
